{{template "base" .}}
 
{{define "title"}}Поиск по статусу{{end}}
 
{{define "main"}}
  <h2>Последние задачи</h2>
  <form  method="POST" action="/search/notes">
    <label>Проект</label><br>
    <select name="project">
      {{range $key, $project := .Projects}}
        <option type = number value="{{$project.ID}}">{{$project.Title}}</option>
      {{end}}
    </select><br><br>
     <label>Выберите статус</label><br>
     <select name="status">
      {{range $key, $status := .Statuses}}
      <option type = number value="{{$status.ID}}">{{$status.Name}}</option>
      {{end}}
     </select><br><br>
     <input type="submit" value="Отправить" />
  </form>
{{end}}