{{template "base" .}}

{{define "title"}}Заметка{{end}}

{{define "main"}}
<div class="snippet">
    {{with .Note}}
    <div class="metadata">
        <strong>{{.Title}}</strong>
    </div>
    <pre><code>{{.Content}}</code></pre>
    <div class="metadata">
        <time>Создан: {{.Created}}</time>
        <time>Срок: {{.Expires}}</time>
    </div>
</div>
<a href="/note/form/update?id={{.ID}}">Изменить</a><br>
<a href="/note/delete?id={{.ID}}">Удалить</a>
{{end}}
{{end}}